/*GLOBAL*/
*, *::before, *::after {
	box-sizing: border-box;
}
body {
    margin: 5%;
    background: #fff;
    font-size: 16px;
    line-height: 1.7;
    font-family: Arial;
    color: #2c2c54;
}
h1 {
    padding: 15px;
    margin: 5%;
    font-size: 36px;
}