/*GLOBAL*/
*, *::before, *::after {
	box-sizing: border-box;
}
body {
    margin: 0;
    background: #fff;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
    color: #2c2c54;
}
.h1 {
    padding: 15px;
    margin: 5%;
    font-size: 20px;
}